{% extends 'dash_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% block content %}
<div class="content " style="margin-top: 7%;">
	<div class="container">
		<div class="row">
		<div class="col-md-10 mx-auto">
			<div class="card">
				<div class="card-body">
					<p>Are you sure you want to delete this picture?</p>
					<form method="post">
						{% csrf_token %}
						<p><input type="submit" value="Yes"><span style="padding-left: 50px;"><a href="{% url 'home:dash_gallery' %}">Cancel</a></span></p>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
	
</div>		
{% endblock %}
</body>
</html>