{% extends 'dash_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% block content %}
<div class="content" style="margin-top: 7%;">
	<div class="row">
		<div class="container">
		<div class="row mt-4" style="">
			<div class="col-md-2">
				<a href="{% url 'home:jobs' %}">
					<button class="btn btn-warning" style="border-radius: 25px;" title="Back to jobs"><i class="now-ui-icons arrows-1_minimal-left"></i></button>
				</a>
			</div>
			<div class="col-md-10"></div>
		</div>
		<div class="row">
			<div class="col-md-12" style="background-color:;">
				<div class="card">
					<div class="card-body">
						<h3>Add Job</h3>

						<form method="post" class="" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="form-row">
								<div class="form-group col-md-4">
									{{form.jobTitle | as_crispy_field }}
								</div>
								<div class="form-group col-md-4">
									{{form.location | as_crispy_field }}
								</div>
								<div class="form-group col-md-4">
									{{form.city | as_crispy_field }}
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-3">
									{{form.workers | as_crispy_field }}
								</div>
								<div class="form-group col-md-3">
									{{form.wage | as_crispy_field }}
								</div>
								<div class="form-group col-md-3">
									{{form.work_hours | as_crispy_field }}
								</div>
								<div class="form-group col-md-3">
									{{form.overtime | as_crispy_field }}
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									{{form.accomodation | as_crispy_field}}
								</div>
								<div class="form-group col-md-4">
									{{form.medical | as_crispy_field}}
								</div>
								<div class="form-group col-md-4">
									{{form.transport | as_crispy_field}}
								</div>
							</div>
							<h3>Age Range</h3>
							<div class="form-row">
								
								<div class="form-group col-md-3">
									
									{{form.age_male_min | as_crispy_field}}
								</div>
								<div class="form-group col-md-3">
									{{form.age_male_max | as_crispy_field}}
								</div>
								<div class="form-group col-md-3">
									{{form.age_female_min | as_crispy_field}}
								</div>
								<div class="form-group col-md-3">
									{{form.age_female_max | as_crispy_field}}
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									{{form.educ_level | as_crispy_field}}
								</div>
								<div class="form-group col-md-6">
									{{form.job_exp_date | as_crispy_field}}
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-12">
									{{form.job_desc | as_crispy_field}}
								</div>
							</div>
							<button class="btn btn-primary" type="submit">Save</button>
						</form>
					</div>
				</div>
			</div>	
		</div>
	</div>
	</div>
</div>
		
{% endblock %}
</body>
</html>