{% extends 'dash_base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% block content %}
	<div class="container" style="margin-top: 7%;">
		<a href="{% url 'home:add_video' %}"><button class="btn btn-success"><i class="now-ui-icons ui-1_simple-add" style="padding-right:10px; "></i>Add Video</button></a>

		{% if messages %}
            <div class="messages mx-auto" style=" background-color: orange; color: white; width:300px; text-align:center;">
                {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %} style=' padding:7px;'>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

			<div class="row">
			{% for v in vidz %}

				<div class="col-md-6">
					<div class="card">
						<div class="card-header">
							<div style="">
                                  <a href="">
                                    <button type="button" rel="tooltip" title="Delete Video" class="btn btn-danger btn-round btn-icon" data-original-title="Remove">
                                      <i class="now-ui-icons ui-1_simple-remove"></i>
                                  </button>
                                </a>
                                </div>
						</div>
						<div class="card-body">
							
	                        <div class="youtube" data-embed="{{ v }}">
	                            <div class="play-button"></div>
	                        </div>
	                    	
						</div>
						<div class="card-footer">
							
						</div>
					</div>
					
					
				</div>
			{% endfor%}			
		</div>
	</div>
{% endblock %}

</body>
</html>